.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
.vscode/
build/
.DS_Store
venv/
*.session
.env

#Latex
*.aux
*.bbl
*.bcf
*.blg
*.log
*.pdf
*.run.xml
*.gz
*.toc
*.out